.container {
    max-width: 36rem;
    padding: 0 1rem;
    margin: 3rem auto 6rem;
  }
  
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .backToHome {
    margin: 3rem 0 0;
  }
  
  .navbar {
    width: 100%;
    background-color: transparent; /* Transparent background */
    padding: 1rem 0;
  }
  
  .navContainer {
    display: flex;
    justify-content: center;
    gap: 2rem; /* Space between the nav links */
  }
  
  .navLink {
    color: #000; /* Adjust color as needed */
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2rem;
    transition: color 0.3s;
  }
  
  .navLink:hover {
    color: #0070f3; /* Adjust hover color as needed */
  }