.container {
    max-width: 36rem;
    padding: 0 1rem;
    margin: 3rem 0 6rem;
    margin-left: 2rem;
  }

  @media (max-width: 768px) {
    .container {
      margin-left: 1rem;
      padding: 0 0.5rem;
    }
  }
  
  .header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .backToHome {
    margin: 3rem 0 0;
  }
  
  .navbar {
    width: 100%;
    background-color: transparent;
    padding: 1rem 0;
  }
  
  .navContainer {
    display: flex;
    justify-content: center;
    gap: 2rem;
  }
  
  .navLink {
    color: #000;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2rem;
    transition: color 0.3s;
  }
  
  .navLink:hover {
    color: #0070f3; 
  }
  
  .portfolioContainer {
    max-width: 80rem;
    padding: 0 2rem;
    margin: 3rem auto 6rem;
  }