html,
body {
  cursor: url('/images/custom_cursor.svg'), auto;
  padding: 0;
  margin: 0;
  font-family: "Iowan Old Style", "Apple Garamond", "Baskerville", "Times New Roman", "Droid Serif", "Times", "Source Serif Pro", serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  line-height: 1.6;
  font-size: 14px;
  background-color: #ffffff;
}

* {
  box-sizing: border-box;
}

a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.button {
  display: flex;
  justify-content: center;
  padding: 10px 20px; /* Add some padding to the button */
  border: 0; /* Remove the default border */
  border-radius: 5px; /* Add rounded corners to the button */
  background-color: rgb(219, 219, 219); /* Set the background color of the button */
  color: #000; /* Set the text color of the button */
  font-size: 16px; /* Set the font size of the button text */
  font-weight: bold; /* Make the button text bold */
  cursor: pointer; /* Add a cursor to the button on hover */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Add a subtle drop shadow to the button */
  margin: auto; /* Center the button on the page */
}

.button:hover {
  background-color: rgb(214, 214, 214); /* Change the background color on hover */
}

.button:active {
  background-color: rgb(156, 156, 156); /* Change the background color when the button is active */
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2); /* Change the drop shadow on active state */
}

img {
  max-width: 100%;
  display: block;
}

h3 {
  display: block;
  font-size: 1.17em;
  margin-block-start: 1em;
  margin-block-end: 0.3em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}
