.heading2Xl {
    font-size: 2.5rem;
    line-height: 1.2;
    font-weight: 800;
    letter-spacing: -0.05rem;
    margin: 1rem 0;
  }
  
  .headingXl {
    font-size: 2rem;
    line-height: 1.3;
    font-weight: 800;
    letter-spacing: -0.05rem;
    margin: 1rem 0;
  }
  
  .headingLg {
    font-size: 1.5rem;
    line-height: 1.4;
    margin: 1rem 0;
  }
  
  .headingMd {
    font-size: 1.2rem;
    line-height: 1.5;
  }
  
  .borderCircle {
    border-radius: 9999px;
  }
  
  .colorInherit {
    color: inherit;
  }
  
  .padding1px {
    padding-top: 1px;
  }
  
  .list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .listItem {
    margin: 0 0 1.25rem;
  }
  
  .lightText {
    color: #666;
  }

  .workContainer {
    display: flex;
    flex-direction: column;
    margin-top: 1em;
  }
  
  .workRow {
    display: flex;
    justify-content: space-between;
    padding: 0.5em 0;
  }
  
  .workTitle {
    text-align: left;
    flex: 1;
  }
  
  .workDate {
    text-align: right;
    flex-shrink: 0;
    margin-left: 1em;
  }

  .arrowList {
    list-style-type: none; /* Remove default bullets */
    padding-left: 0; /* Remove left padding */
  }
  
  .arrowList li {
    margin: 5px 0; /* Add some space between items */
  }

  .arrow {
    display: inline; /* Keeps the arrow inline with the text */
  }

  /* In utils.module.css */
.indentedText {
  display: inline-block; /* Allows margin/padding to take effect */
  margin-left: 20px; /* Adjust the value as needed for indentation */
}

.workItem {
  display: flex; /* Use flexbox for alignment */
  align-items: flex-start; /* Align items at the start */
}
  